.contenedor {
	width: 700px;
	height: 500px;
	background-color: #48B65A;
	position: static;
}

.cancha {
	width: 650px;
	height: 450px;
	border: 1px solid white;
	position: absolute;
	left: 30px;
	top: 30px;
}

.arco1 {
	width: 100px;
	height: 150px;
	border: 1px solid white;
	position: absolute;
	top: 150px;
}

.arco2 {
	width: 100px;
	height: 150px;
	border: 1px solid white;
	position: absolute;
	left: 550px;
	bottom: 150px;
}

.circulo {
	width: 150px;
	height: 150px;
	border: 1px solid white;
	position: absolute;
	border-radius: 50%;
	left: 250px;
	bottom: 150px;
}

.pelota1 {
	position: absolute;
	left: 90px;
	top: 155px;
}

.pelota2 {
	position: absolute;
	left: 350px;
	top: 100px;
}

.pelota3 {
	position: absolute;
	left: 525px;
	top: 275px;
}